<!DOCTYPE html>
{% extends "page.html" %}

{% block body %}
  <div class="container">
    <div class="row">

      {% for article in content %}
        <div class="col-md-4 col-sm-6">
          <article class="article">
            {{ article }}
          </article>
        </div>
      {% endfor %}

    </div>

    {% if prevlink %}
      <a href="{{ prevlink.url }}" class="previous">&laquo; Previous</a>
    {% endif %}
    {% if nextlink %}
      <a href="{{ nextlink.url }}" class="next">Next &raquo;</a>
    {% endif %}
  </div>
{% endblock %}